{% extends "_layout.html" %}
{% block content %}
<form method='POST' action="{{url_for('users.update', username_id=current_user.id)}}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="form-group">
        <label for="username">New username:</label>
        <input type="text" name="username" class="form-control" />
    </div>
    <div class="form-group">
        <label for="email">New email:</label>
        <input type="email" name="email" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Review Change</button>
    <a href="/" class="btn btn-default">Cancel</a>
</form>
{% endblock %}